/* Aaron Granath TE24C */

#header{
display:flex;
align-items: center;
color:#e8491d;
background-color: #35424a;
font-family: 'Franklin Gothic Medium';
}

#header p{
margin-left: 60px;
color:white;
}

nav a{
    align-items: center;
    margin: 50px;
    font-family:'Trebuchet MS';
}/* flex ville inte funka, se tidigare commits*/

a{
    color: white;
    text-decoration: none;
}


#active{
    color:#e8491d
}

.branding{
    display:flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    background-color: #35424a;
    border-bottom: solid #e8491d 3px;
}

#showcase h1{
    font-family: 'Franklin Gothic Medium';
}

#showcase{
    background-image:url(./img/showcase.jpg);
    background-size: cover;
    color:white;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding:60px;
    font-family:'Trebuchet MS';
}

#newsletter{
    display:flex;
    justify-content:space-around;
    align-items: center;
    height: 50px;
    color: white;
    background-color: #35424a;
    font-family: 'Franklin Gothic Medium';
}

button{
    background-color: #e8491d;
  border: none;
}

#boxes{
    padding-top:25px;
    padding-bottom:25px;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    text-align:center;
    background-color: aliceblue;
    font-family:'Trebuchet MS';
}

#boxes h2{
    font-family: 'Franklin Gothic Medium';
}

#footer{
    background-color:#e8491d;
    display:flex;
    justify-content:space-around;
    color:white;
}