#header{
color:#e8491d;
display:flex;
flex-direction:row;
justify-content:space-around;
background-color: #35424a;
}

#header p{
color:white;
}

.container{
    
}

.nav a{
    display: flex;
    color:white;
    text-decoration:none;
}

.active a{
    color:#e8491d
}

.branding{
    display: flex;
    justify-content: row;
    border-bottom: solid #e8491d 3px;
}

#showcase{
    background-image:url(./img/showcase.jpg);
    height:100px;
}

#newsletter{
    display:flex;
    justify-content:space-around;
    height: 50px;
    color: white;
    background-color: #35424a;
}

button{
    background-color: #e8491d;
  border: none;
}

#boxes{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    text-align:center;
    background-color: aliceblue;
}

#footer{
    background-color:#e8491d;
    display:flex;
    justify-content:space-around;
    color:white;
}